@import 'styles/theme';


.custom-select {
	position: relative;
    width: 100%;
	&:hover {
		.custom-select-header__text {
			&:after {
				opacity: 0;
			}
		}
	}
}

.custom-select-header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 100%;
    background-color: #fff;
    border: 2px solid $main-color;
    border-radius: 4px;
    transition: .2s;
    outline: none;
    $this:&;
    &:hover {
        background-color: $main-color;
    }
	&__option {
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
		color: #333;
		display: inline-block;
		transition: .3s;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-position: center;
			transition: .3s;
		}
	}
	&__svg {
		margin-right: 5px;
		fill: #333;
	}
}

.custom-select-dropdown {
    position: absolute;
    top: 100%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    width: 100%;
    z-index: 1;
	&.open {
        transition: opacity .5s;
		opacity: 1;
		visibility: visible;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__option {
        font-size: 16px;
        color: #313131;
        transition: color .2s;
        display: block;
        position: relative;
        &:hover {
            color: $main-color;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 2px;
            width: 5px;
            background-color: $main-color;
            opacity: 0;
        }
        &.active {
            padding-left: 10px;
            &:after {
                opacity: 1;
            }
        }
    }
}