@import '../../../style/theme.scss';

body, button, input, textarea {
    font-family: Roboto, sans-serif;
}

* {
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

body, ul, ol {
    margin: 0;
    padding: 0;
}