@import 'style/theme.scss';

.menu {
    display: flex;
    align-items: center;
    &__item {
        &:not(:last-child) {
            margin-right: calcFluid(10, 40, 320, 1920);
        }
    }
    &__link {
        font-size: calcFluid(15, 18, 320, 1920);
        line-height: calcFluid(20, 24, 320, 1920);
        color: #fff;
        transition: .2s;
        &:hover {
            text-shadow: 0 0 10px #fff;
            color: #65fcce;
        }
    }
}