@import 'style/theme.scss';

.logo {
    font-size: calcFluid(18, 24, 320, 1920);
    line-height: calcFluid(24, 30, 320, 1920);
    font-weight: 700;
    color: #fff;
    letter-spacing: calcFluid(3, 5, 320, 1920);
    transition: .2s;
    &:hover {
        text-shadow: 0 0 10px #fff;
        color: #65fcce;
    }
}