@import '../../style/theme.scss';
.content-text {
    p {
        margin-bottom: calcFluid(10, 25, 320, 1920);
        font-size: calcFluid(15, 18, 320, 1920);
        line-height: calcFluid(20, 24, 320, 1920);
        display: block;
        color: #313131;
    }
    h2 {
        display: block;
        padding-top: calcFluid(5, 10, 320, 1920);
        margin-bottom: calcFluid(10, 15, 320, 1920);
        font-size: calcFluid(20, 28, 320, 1920);
        line-height: calcFluid(26, 34, 320, 1920);
        color: #313131;
    }
}

.employees {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin-left: -15px;
}