@import 'styles/theme';

.card {
    width: calcFluidM(10, 30, 320, 1920, 25);
    margin: calcFluid(5, 15);
    border: 1px solid $border-color;
    padding: calcFluid(10, 20);
    border-radius: 5px;
    transition: box-shadow 0.3s;
    $this:&;
    &__icon {
        width: calcFluid(20, 30);
        height: calcFluid(20, 30);
        display: block;
        margin-bottom: calcFluid(6, 10);
    }
    &__row {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    &__role {
        font-size: calcFluid(12, 14);
        line-height: calcFluid(16, 18);
        color: #333;
        margin-bottom: calcFluid(6, 10);
        display: block;
    }
    &__name {
        font-size: calcFluid(15, 18);
        font-weight: 700;
        line-height: calcFluid(20, 24);
        color: #333;
        margin-bottom: calcFluid(15, 20);
        display: block;
        transition: .3s;
        &:hover {
            color: $main-color;
        }
    }
    &__birthday {
        font-size: calcFluid(8, 10);
        line-height: calcFluid(12, 14);
    }
    &__phone {
        font-size: calcFluid(13, 15);
        line-height: calcFluid(16, 18);
        color: #333;
        transition: .3s;
        &:hover {
            text-decoration: underline;
        }
    }
    &:hover {
        box-shadow: 0 calcFluid(5, 10) calcFluid(5, 10) rgba(0,0,0,.2);
    }
}



@media(max-width: 991px) {
    .card {
        width: calcFluidM(10, 30, 320, 1920, 33.3334);
    }
}


@media(max-width: 767px) {
    .card {
        width: calcFluidM(10, 30, 320, 1920, 50);
    }
}


@media(max-width: 480px) {
    .card {
        width: 100%;
    }
}